# Ambiente
PIPELINE_ENV=dev
LOG_LEVEL=INFO

# Python
PYTHON_VERSION=3.12

# Hadoop / HDFS
HADOOP_VERSION=3.3.6
HDFS_NAMENODE_HOST=namenode
HDFS_NAMENODE_PORT=8020
HDFS_REPLICATION_FACTOR=1

# HDFS paths
HDFS_RAW_PATH=/data/raw
HDFS_PROCESSED_PATH=/data/processed
HDFS_CURATED_PATH=/data/curated
HDFS_CHECKPOINT_PATH=/data/checkpoints

# HBase
HBASE_VERSION=2.5.10
HBASE_HOST=hbase
HBASE_PORT=9090
HBASE_ROOT_DIR=hdfs://namenode:8020/hbase

# Hive
HIVE_VERSION=4.0.1
HIVE_HOST=hive
HIVE_PORT=10000
HIVE_METASTORE_DB=hive_metastore
HIVE_METASTORE_USER=hive
HIVE_METASTORE_PASSWORD=hive

# Flink
FLINK_VERSION=1.20.3
FLINK_JOBMANAGER_HOST=flink
FLINK_JOBMANAGER_PORT=6123
FLINK_WEB_PORT=8081

# Spark
SPARK_VERSION=3.5.6
SPARK_MASTER_HOST=spark
SPARK_MASTER_PORT=7077
SPARK_UI_PORT=8080

# Generator
GENERATOR_EVENT_INTERVAL=0.5
GENERATOR_BATCH_SIZE=1
GENERATOR_OUTPUT_PATH=data/raw/events.jsonl

# Docker
COMPOSE_PROJECT_NAME=ecommerce-bigdata